.pagination {
  list-style: none;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.pagination li :hover {
  background-color: #d6b9c2;
  color: #fff;
  transition: background-color 0.2s;
}

.paginationLink {
  border-radius: 6px;
  border: 1px solid #d6b9c2;
  width: fit-content;
  margin: 0 0.5rem;
  padding: 6px 12px;
  color: #4a5568;
  transition: background-color 0.2s;
}

.paginationActive {
  background-color: #d6b9c2;
  color: #fff;
  margin: 0;
}

.paginationPrevious,
.paginationNext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationPreviousLink,
.paginationNextLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0 0.5rem;
  padding: 8px 12px;
  transition: background-color 0.2s;
}
